.sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    position: fixed;
    z-index: 1000;
    
    .backGround{
        position: fixed;
        top: 0;
        left: 0;
        bottom:0;    
        width: 300px;
        background: linear-gradient(260deg, rgba(97, 200, 109, 0.9), rgba(110, 207, 217, 0.3));
        //border: 1px solid rgba(255, 255, 255, 0.18);
        //box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        border-radius: 10px;
        padding: 10px;
        transform: translateX(0%);
        transition: transform 0.3s ease-out;
        will-change: transform;
        pointer-events: auto;
    
        &.open {
          transform: translateX(0);
        }
    
        .Links{
            position: absolute;
            width: 250px;
            height: 700px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 20px;

            a{
                font-size: 30px;
            }
        }
    }
    button{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        position: fixed;
        top: 25px;
        left: 25px;
        background-color: transparent;
        border: none;
    }
}