html{
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /*     font-family     */
}
body{
    background-color: #eeecd9;
    color:#1334c7;
}
a{
    text-decoration: none;
    /*take the color from parents*/
    color: inherit;
}
section{
    height: 100vh;
    scroll-snap-align: center;
}

