html {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
  }
  
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #eeecd9;
    color: #1334c7;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  section {
    height: 100vh;
    scroll-snap-align: center;
  }
  
  .no-snap {
    scroll-snap-type: none;
  }
  
  .projects-container {
    overflow: hidden;
    background-color: #0A2342;
    color: #04ab15; 
    position: relative;
  }
  .scroll-text {
    position: absolute;
    white-space: nowrap;
    width: calc(100vh*5.5);
    font-size: 1.5rem; 
    color: #00ff0075; 
    transform: translateY(-50%);
    animation-duration: 0s; 
    overflow: hidden;
    font-family: 'Courier New', Courier, monospace;
  }
  
  .line {
    animation: scrollText 15s linear infinite;
  }
  
  .line1 {
    top: 10%;
  }
  
  .line2 {
    top: 25%;
    animation-delay: 1s;
  }
  
  .line3 {
    top: 40%;
    animation-delay: 2s;
  }
  
  .line4 {
    top: 55%;
    animation-delay: 3s;
  }
  
  .line5 {
    top: 70%;
    animation-delay: 4s;
  }
  
  .line6 {
    top: 85%;
    animation-delay: 5s;
  }
  
  .horizontal-scroll-container {
    display: flex;
    width: 500%;
    height: 100%;
    transition: transform 0.5s ease;
  }
  
  .project-section {
    flex: 0 0 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
  }

  .progress-bar-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10px;
    background-color: rgba(19, 52, 199, 0.2);
    z-index: 1000;
  }
  
  .progress-bar {
    height: 100%;
    background-color: #00AA00;
    transition: width 0.3s ease;
  }

  @keyframes scrollText {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(-100%);
    }
  }